*{
    scroll-behavior: smooth;
}

.logo{
    float: right;
    width: 51px;
}

button{
    background-color: red;
    font-size: 30px;
    cursor: pointer;
    border-color: black;
}

body,html{
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.navbar{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
  }
  
  .brand{
    font-size: 2.5rem;
    margin: .5rem;
  }
  
  .links{
    height: 100%;
  }
  
  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .links li {
    list-style: none;
  }
  
  .links li a {
    display: block; 
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-size: 2rem;
  }
  
  .links li a:hover {
    color: rgb(238, 48, 111);
  }
  
  .toggle{
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle .bar {
    height: 3px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
  }
  
  @media (max-width: 640px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .toggle {
        display: flex;
    }
  
    .links {
        display: none;
        width: 100%;
    }
  
    .links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .links ul li {
        text-align: center;
    }
  
    .links ul li a {
        padding: .5rem 1rem;
    }
  
    .links.active {
        display: flex;
    }
  }

.pimg1,.pimg2,.pimg3,.pimg4{
    position: relative;
    opacity: 0.80;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.txt{
    font-size: 20px;
}

.song{
    display: inline-grid;
    margin: 15px;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    background-color: rgb(231, 62, 0);
    border-radius: 29px;
}
  
.pimg1{
    background-image: url('../images/img1.jpg');
    min-height: 100%;
}

.pimg2{
    background-image: url('../images/img2.jpg');
    min-height: 400px;
}

.pimg3{
    background-image: url('../images/img3.jpg');
    min-height: 400px;
}                  

.pimg4{
    background-image: url('../images/img4.jpg');
    min-height: 400px;
}

.section{
    text-align: center;
    padding: 50px 80px;
}

.section-light{
    background-color: lightslategray;
    color: rgb(240, 240, 240);
}
.section-dark{
    background-color: rgb(0, 0, 0);
    color: #ddd;
}

.ptext{
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 27px;
    letter-spacing: 4px;
}

.ptext .border{
    color: #fff;
    padding: 20px;
}

.ptext .border .trans{
    background-color: transparent;
}

footer{
    text-align:center;
    color: wheat;
    background-color: black;
}

#arrows{
    position: relative;
    height: 200px;
    transition: ease 20s;
}

#arrowtxt1{
    position: absolute;
    top: 15%;
    left: 0%;
    font-size: 4.5vw;
    transition: ease 5s;
    color: rgb(0, 0, 0);
}
#arrowtxt2{
    position: absolute;
    top: 20%;
    left: 0%;
    font-size: 4.2vw;
    transition: ease 7s;
    color: rgb(0, 0, 0);
}
#arrowtxt3{
    position: absolute;
    top: 15%;
    left: 0%;
    font-size: 4.5vw;
    transition: ease 9s;
    color: rgb(0, 0, 0);
}

 #arrow1{
    position: absolute;
    left: 0%;
    font-size: 230px;
    transition: ease 5s;
    color: black;
} 
#arrow2{
    position: absolute;
    left: 0%;
    font-size: 15vw;
    color: black;
    transition: ease 7s;
}
#arrow3{
    position: absolute;
    left: 0%;
    font-size: 15vw;
    color: black;
    transition: ease 9s;
}

.sectiona{
    text-align: left;
    padding: 50px 80px;
}

#ps{
    transition: ease-in 11s;
    color: black;
}

@media(max-width: 463px){
    .pimg1, .pimg2, .pimg3,.pimg4{
        background-attachment: scroll;
    }
    ul li a{
        font-size: 20px;
    }
    #hm{
        margin-left: -35px;
    }
    .song{
        margin-left: -62px;
    }
    .pimg1,.pimg2,.pimg3,.pimg4{
        background-attachment: fixed;
    }
    img{
        width: 200px;
    }
    .ptext{
        font-size: 12px;
        top: 7%;
    }
    audio{
        width: 240px;
    }

}